/* <====== Common styles ======> */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

p {
    font-size: 1.3em;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* <====== Header =======> */

.header {
    background: url('../img/image-header.jpg');
    background-size: cover;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px #000 solid;
    position: fixed;
    width: 100%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
}

.fixed {

}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 700;
    color: #ff6a00;
    transition: .1s;
}

.logo:hover {
    font-size: 20px;
}

.nav {
    padding: 5px 10px;
    transition: .3s;
    border-radius: 5px;
}

.nav:hover {
    
}

.nav__link {
    margin-left: 10px;
    font-weight: 600;
    transition: .3s;
}

.nav__link:hover {
    color: #ffd800;
}

#main {
    padding-top: 100px;

}

.section__container {
    display: flex;
    justify-content: space-between;
}

.hero-inf {
    margin: 10px;
}

.hero-img {
    display: flex;
    flex-direction: column-reverse;
}

.hero-img img{
    width: 100%;
    border: 1px solid silver;
    border-radius: 10px;
}

.vulkan__text {
    background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    border-bottom: 3px solid #808080;
}

.section {
    width: 40%;
    height: 40%;
    margin: 1% 4%;
    padding: 7px;
    border-radius: 7px;
    background-color: rgb(0, 0, 0, 0.1);
}

.linear {
    height: 2px;
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    border-radius: 2px;
    width: 90%;
    margin: 50px auto;
}

.list {
    list-style-type: none;
}

.list li {
    margin: 15px;
}

/* <====== Footer =======> */

.footer {
    margin-top: 50px;
    padding-bottom: 50px;
    background-color: #00000017;
}

.footer-top {
    font-size: 30px;
}

.footer-bottom {
    font-weight: 500;
    margin-bottom: 30px;
}

.footer .nav__link {
    color: #00000034;
}

.footer .nav__link:hover {
    color: #1d1d1d8c;
}

.contacts {
    font-size: 25px;
    margin-bottom: 20px;
}

.contacts a {
    color: #000;
    margin: 10px;
    transition: .3s;
}

.contacts a:hover {
    color: #c22e2e8c;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d4d4d4;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #939393;
    border-radius: 8px;
    border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}